Adafruit-ADS1x15==1.0.2
Adafruit-Blinka==8.50.0
adafruit-blinka-displayio==2.1.1
Adafruit-GPIO==1.0.3
Adafruit-PlatformDetect==3.75.0
Adafruit-PureIO==1.1.11
binho-host-adapter==0.1.6
colorzero==2.0
gpiozero==2.0.1
HX711==1.0.0
importlib-metadata==4.13.0
importlib-resources==5.13.0
numpy==2.0.2
opencv-python==4.10.0.84
pillow==11.0.0
pyftdi==0.55.4
pyserial==3.5
pyusb==1.2.1
rpi-ws281x==5.0.0
RPi.GPIO==0.7.1
spidev==3.6
sysv-ipc==1.1.0
typing-extensions==4.12.2
zipp==3.21.0